<html>
    <head>
    <title>Jesse's Remesh SWE Take Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        h1 {color:red;}
        p {color:blue;}
        .Search {display: flex;justify-content: center;}
        .Search form {display: flex;flex-direction: column; max-width: 30%;}
        .Add-form {display: flex;flex-direction: column; max-width: 30%;margin:auto}
        .col {display: flex;flex-direction: column;align-items: center;}
        .List-header{font-size: 12px;}
    </style>
    </head>

    <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Remesh SWE Take Home -- Jesse Alloy</a>
    </nav>

    <div class="container-fluid my-5">
        <div class="row">
        <div class="col">
            {% block content %}
            {% endblock %}
        </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>